In [75]:
import pandas as pd

In [76]:
PyBank_file_path = r'C:\Users\micha\Desktop\Data_Analytics\python challenge\PyBank\Resources\budget_data.csv'

PyBank = pd.read_csv(PyBank_file_path)

PyBank.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [87]:
# total number of months in the dataset

unique_months = PyBank["Date"].unique()

total_months = len(unique_months)

total_months

86

In [88]:
# The net total amount of profit/losses over the entire period

net_profit = PyBank["Profit/Losses"].sum()

net_profit

22564198

In [79]:
# The changes in "Profit/Losses" over the entire period, and then the average of those changes

#start by creating a new column in the dataframe to store the magnitude of the change between rows
PyBank["change"] = 0

#initialize a for loop to iterate through the entire length of the column
for i in range(len(PyBank) - 1):
    #specify that you want the value of the change to be put into the 'change' column
    PyBank.at[i + 1, "change"]  = PyBank.at[i + 1, "Profit/Losses"] - PyBank.at[i, "Profit/Losses"]

#find the average of this columns values



PyBank

      Date  Profit/Losses   change
0   Jan-10        1088983        0
1   Feb-10        -354534 -1443517
2   Mar-10         276622   631156
3   Apr-10        -728133 -1004755
4   May-10         852993  1581126
..     ...            ...      ...
81  Oct-16        -729004 -1627245
82  Nov-16        -112209   616795
83  Dec-16         516313   628522
84  Jan-17         607208    90895
85  Feb-17         382539  -224669

[86 rows x 3 columns]

In [91]:
avg_change = PyBank["change"].sum()/len(PyBank)
avg_change

-8214.46511627907

In [92]:
# The greatest increase in profits (date and amount) over the entire period
# get the max value in the column 'change'
max_value = PyBank["change"].max()
#find the index where this occurs
max_value_index = PyBank["change"].idxmax()
#find the value of the date at this index
max_date = PyBank.at[max_value_index, 'Date']

print(max_date)
print(max_value)

Aug-16
1862002

In [93]:
# The greatest decrease in profits (date and amount) over the entire period
# get the min value in the column 'change'
min_value = PyBank["change"].min()
#find the index where this occurs
min_value_index = PyBank["change"].idxmin()
#find the value of the date at this index
min_date = PyBank.at[min_value_index, 'Date']

print(min_date)
print(min_value)

Feb-14
-1825558

In [83]:
text_file_path = r'C:\Users\micha\Desktop\Data_Analytics\python challenge\PyBank\Analysis\PyBank.txt'

In [86]:
with open(text_file_path, 'w') as file:
    file.write('Financial Analysis\n')
    file.write(f"Total Months: {total_months}\n")
    file.write(f'Total: ${net_profit}\n')
    file.write(f'Average Change: ${avg_change})\n')
    file.write(f'Greatest Increase in Profits: {max_date}, (${max_value})\n')
    file.write(f'Greatest Decrease in Profits: {min_date}, (${min_value})')